// /*
//  * Copyright 2016 the original author or authors.
//  *
//  * You may obtain a copy of the License at
//  *
//  *      https://www.apache.org/licenses/LICENSE-2.0
//  *
//  * Unless required by applicable law or agreed to in writing, software
//  * distributed under the License is distributed on an "AS IS" BASIS,
//  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  * See the License for the specific language governing permissions and
//  * limitations under the License.
//  */
// @icon-font-path:    "../../webjars/bootstrap/fonts/";

@spring-primary: #074b95;

.landing {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 10%, #074b95 100%), url('https://images.unsplash.com/photo-1548101307-a757d5f06d27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  background-position-y: 10%;
  border-radius: 0 !important;
}

td {
  vertical-align: middle !important;
}


// @import "typography.less";
@import "header.less";
// @import "responsive.less";
